
.date-picker-popup .day-cell {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: transparent;
    -fx-border-width: 1px;
    -fx-background-radius: 0;
    -fx-border-radius: 0;
}

.date-picker-popup .day-cell.previous-month, .day-cell.next-month{
    -fx-text-fill: #adabaa;
}

.date-picker-popup .day-cell.today {
    -fx-background-color: #18aedb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-border-color: transparent;
}

.date-picker-popup .day-cell.selected {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: #18aedb;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.date-picker-popup .day-cell.today.selected {
    -fx-background-color: #18aedb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-color: derive(#18aedb, -20%);
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.date-picker-popup .day-cell:hover {
    -fx-border-color: gray;
    -fx-border-width: 1px;
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.date-picker-popup .day-cell.today:hover {
    -fx-background-color: #18aedb;
    -fx-text-fill: white;
    -fx-border-color: grey;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.date-picker-popup .day-cell.selected:hover {
    -fx-background-color: transparent;
    -fx-text-fill: -fx-text-base-color;
    -fx-border-color: derive(#18aedb, -20%);
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.date-picker-popup .day-cell.today.selected:hover {
    -fx-background-color: #18aedb;
    -fx-text-fill: white;
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}